html {
  font-family: "Open Sans", sans-serif;
  color: #8c8c8c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

.header {
  border-bottom: 4px solid #000;
}

.header-nav-a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: block;
  padding: 0;
  text-align: right;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  transition: all .3s ease;
}

a:hover {
  opacity: .5;
}

.icon {
  overflow: hidden;
}

.piece-name {
  text-align: center;
}

.footer {
  text-align: right;
  color: #000;
  border-top: 4px solid #000;
}

.interests {
  text-align: left;
  list-style-type: none;
}

.piece-link {
  transition: all .3s ease;
  opacity: 1;
  transform: scale(1.01);
  transform-origin: center center;
}

.piece-link:hover, .piece-link:focus {
  opacity: .99;
  transform: scale(1.02);
}

.piece-link a {
  display: block;
}

.insta {
  text-align: right;
}

.icon {
  transition: all .3s ease;
}

.icon:hover {
  opacity: .9;
}

.oops {
  text-align: left;
}
