html {
  font-family: "Open Sans", sans-serif;
  color: #8c8c8c;
}

.header,
.about,
.fun,
.portfolio-pieces,
.process {
  border-bottom: 4px solid #000;
}

.header-nav-a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: block;
  padding: 0;
  text-align: right;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

.icon {
  overflow: hidden;
}

.piece-name {
  text-align: center;
}

.footer {
  text-align: right;
  color: #000;
}

.interests {
  text-align: left;
  list-style-type: none;
}
