html {
  font-family: sans-serif;
}

header {
  border-bottom: 3px solid #000;
}

.header-nav-a {
  text-decoration: none;
  color: #000;
}

li {
  display: block;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

.nav {
  padding-left: 30px;
}

.icon {
  overflow: hidden;
}

}
